.top-10{
	margin: 10px 10px 10px 10px;
}
.bot-10{
	margin-bottom: 10px;
}
.border{
	border-style: double;
  	border-radius: 10px;
}

fieldset{
	border:2px solid;
}

.right-5{
	margin: 5px 5px 5px 5px;
}
