.top-10{
	margin-top: 10px;
}

.top-100{
	margin-top: 100px;
}

.bot-10{
	margin-bottom: 10px;
}

.top-50{
	margin-top: 50px;
}
.border{
	border-style: double;
}

form{
 margin-bottom:5%;
}


.top-10-pour{
	margin-top:10%;
}

.top-20-pour{
	margin-top:20%;
}

.btn-circle {
 width: 30px;
 height: 30px;
 text-align: center;
 padding: 6px 0;
 font-size: 12px;
 line-height: 1.428571429;
 border-radius: 15px;
}


footer {
    position:fixed;
    bottom: 0;
}

.haut
{
	position:fixed;
}
