{% extends "baseBS.html" %}
{{ super() }}
{% block main %}

    <header class="starter-template">

        <h2> Bienvenue sur l'api REST du projet tutoré du groupe ASA !</h2>


    </header>

    <section id="apidoc">

        <header>

            <h3>Présentation des entités</h3>

        </header>

            <section>
                <header>
                    <h4>Utilisateur(user)</h4>
                </header>

            </section>
            <section>
                <header>
                    <h4>Sondage(/api/sondage)</h4>
                </header>

            </section>
            <section>
                <header>
                    <h4>Question(/api/question)</h4>
                </header>

            </section>

        <footer>

            <legal>Copyright IUT Orleans, DUT Informatique Année Spéciale 2016-2017,  Groupe ASA</legal>

        </footer>


    </section>
{% endblock %}
