<!doctype html>
<html>
<title>Rapid'Sond</title>
<head>
  <meta charset="UTF-8"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../js/todoConcepteur.js"></script>
<script src="../js/todoSondeur.js"></script>
<script src="../js/accueil.js"></script>

<link rel="stylesheet" href="../css/style.css"/>

</head>
<title>Rapid'Sond</title>
  <body>
    <header>
     <h1 class="col-md-4 col-md-offset-4">Rapid'Sond : Bienvenue</h1>

	  <nav class="navbar navbar-default col-md-12">
	    <div class="container-fluid">
	      <ul class="nav navbar-nav col-md-12">
	        <li class="col-md-3 text-center" onclick="afficheAccueil()"><a href="#">Accueil</a></li>
	        <li class="col-md-3 text-center" onclick="accueilConcepteur()" ><a href="#">Conception</a></li>
	        <li class="col-md-3 text-center" onclick="accueilSondeur()"><a href="#">Sondage</a></li>
			<li class="col-md-3 text-center"><a href="#">Analyse</a></li>
	      </ul>
	    </div>
	  </nav>
    </header>


	<div id="main" class="col-md-12"></div>

    <footer>
      Copyright 2017 - Groupe ASA
    </footer>
  </body>
</html>
