<div>
<div id="choixmul" class="border">
	<h2><span id="legendeQuestion"> Question 2 </span> :</h2>
	<p id="question" class="col-md-offset-1">Quelle est la réponse à celle-ci ?</p>
	<form class="col-md-offset-1">
		<input type="checkbox" id="reponse11" value="checkbox1"><span id="reponse1"> réponse 1</span><br/>
		<input type="checkbox" id="reponse22" value="checkbox2"> <span id="reponse2"> réponse 1</span><br/>
		<input type="checkbox" id="reponse33" value="checkbox3"> <span id="reponse3"> réponse 1</span>
	</form>
</div>
</div>
