

<div>
  <div id="formulaire_Info_Sondage" class="col-md-offset-1 col-md-10 border bot-10">
				<div class="row">
					<h1 id="titreSondage" class="col-md-offset-3 col-md-6 text-center"> Sondage N° 112184321</h1>
				</div>

				<div class="row">

					<form class="row " method="GET" action="">

					<div class="row top-10">
						<label id="labelEntreprise" for="listeEntreprise" class="col-md-offset-1 col-md-1 text-center">Entreprise:</label>
						<label id="listeEntreprise" for="listeEntreprise" class="col-md-1 text-center">Butoni </label>

						<label id="labelStatut" for="listeStatut" class="col-md-1 text-center">Statut :</label>
						<label id="listeStatut" for="listeStatut" class="col-md-1 text-center">Conception </label>

						<label id="labelUser" for="listeUser" class="col-md-1 text-center">Par :</label>
						<label id="listeUser" for="listeUser" class="col-md-1 text-center">Jean-claude </label>

						<button class="btn btn-primary col-md-offset-2 col-md-2">Edit</button>
					</div>

					<div class="row top-10">

						<label id="labelPanel" for="listePanel" class="col-md-offset-1 col-md-1 text-center">Panel :</label>
						<label id="listePanel" for="listePanel" class="col-md-1 text-center">Les roux </label>

						<label id="labelDate" for="listeDate" class="col-md-1 text-center">Crée le :</label>
						<label id="listeDate" for="listeDate" class="col-md-1 text-center">20/06/2017 </label>

						<button class="btn btn-danger col-md-offset-4 col-md-2 bot-10">Suppr</button>

					</div>


					</form>
				</div>
      </div>
</div>
