<div>
  <div id="FormulaireSonde" class ="col-md-offset-1 col-md-10 border top-100">

      <h2 id="titreformSonde" class="col-md-offset-2 col-md-8 text-center">Sondé n°4456</h2>

      <div class="row col-md-12">
        <label class="col-md-offset-1 col-md-3">Nom : </label>
        <input id="nomsond" class="col-md-7" value="bernard"/>
      </div>

      <div class="row col-md-12">
        <label class="col-md-offset-1 col-md-3" >Prénom : </label>
        <input id="prenomsond" class="col-md-7" value="Jean"/>
      </div>

      <div class="row col-md-12">
        <label class="col-md-offset-1 col-md-3">Date : </label>
        <input id="datesond" class="col-md-7" value="08/09/2000"/>
      </div>

      <div id="boutonvalider" class="row">
        <div class="col-md-4"></div>
        <input id="boutoncode" type="button" class="col-md-2 btn btn-info navbar-btn" value="Valider" onclick="insertInfoSonde()"/>
        <input id="boutoncode" type="button" class="col-md-2 btn btn-info navbar-btn" value="refresh" onclick="retourSondeur()"/>
      </div>

    </div>
</div>
