<div>
		<div id="telsonde" class=" col-md-offset-1 col-md-10 border row top-100">
			<button type="button" class="col-md-offset-1 col-md-1 btn btn-danger btn-circle text-center top-10"><i class="glyphicon glyphicon"></i></button>
			<p class="col-md-offset-1 col-md-6 text-center top-10 lead"><strong id="numTel">Téléphone : 0601010101</strong></p>
			<button type="button" class="col-md-offset-1 col-md-2 btn btn-default text-center top-10"><i class="glyphicon glyphicon-arrow-right"></i></button>
		</div>
</div>
