<div>
        <div id="sondageARemplir" class="col-md-offset-1 col-md-10 border top-10 bot-10">

          <h2 class="col-md-12 text-center top-10">Formulaire n </h2>

          <div class="row">
            <form class="form-horizontal" role="form" method="POST" action="">


              <div class="row col-md-10 top-10">
                <label class="col-md-offset-1 col-md-2">Cree le :</label>
                <select class="col-md-2" id="dateCreation"  size="1"></select>
                <label class=" col-md-2">Client :</label>
                <select class="col-md-2" id="listeClient"  size="1"></select>
				<label class=" col-md-3 text-center"><input  type="checkbox">Autoriser les sondages</label></div>
              </div>

              <div class="row col-md-10 top-10 bot-10">
                <label class="col-md-offset-1 col-md-2">Panel :</label>
                <select class="col-md-2" id="choixPanel"  size="1"></select>
                <label class="col-md-2">Par :</label>
                <select class="col-md-2" id="choixConcepteur"  size="1"></select>
              </div>

              <div class="row col-md-2 ">
                <button id="ButtonEnregistreF" onclick="enregistreFormulaire()">Enregistrer Formulaire</button>
              </div>

            </form>
          </div>

        </div>
</div>
