

	<div id="filtreSondage" class="col-md-offset-1 col-md-10">

		<form id="formFiltre" class="col-md-12 form-horizontal border" method="GET" >

		<div class="row">

			<label id="labelEntreprise" for="listeEntreprise" class="col-md-2 top-10 text-center">Entreprise </label>
			<select id="listeEntreprise" name="listeEntreprise" class="col-md-2 top-10 text-center" /></select>

			<label id="labelStatut" for="listeStatut" class="col-md-2 top-10 text-center">Statut </label>
			<select id="listeStatut" name="listeStatut" class="col-md-2 top-10 text-center" /></select>

			<label id="labelConcepteur" for="listeConcepteur" class="col-md-2 top-10 text-center">Concepteur </label>
			<select id="listeConcepteur" name="listeConcepteur" class="col-md-2 top-10 text-center" /></select>
		</div>
		<div class="row">

			<label id="labelPanel" for="listePanel" class="col-md-2 top-10 text-center">Panel</label>
			<select id="listePanel" name="listePanel" class="col-md-2 top-10 text-center" /></select>

			<label id="labelDateDebut" for="choixDateDebut" class="col-md-2 top-10 text-center">Date</label>
			<select id="choixDateDebut" name="choixDateDebut" class="col-md-1 top-10 text-center" /></select>

			<label id="labelDateFin" for="choixDateFin" class="col-md-1 text-center top-10"> à </label>
			<select id="choixDateFin" name="choixDateFin" class="col-md-1 top-10 text-center" /></select>

			<input type="submit" value="Actualiser" class="btn btn-info top-10 col-md-offset-1 col-md-1">
		</div>
		</form>
</div>
