<!doctype html>

<html>

<title>Rapid'Sond</title>

<head>

  <meta charset="UTF-8"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>

<link rel="stylesheet" href="../css/style.css" />



</head>

<title>Rapid'Sond</title>

  <body>




<div id="ContenantFormulaire" class ="col-md-6 ">
<div id="FormulaireSonde" class="col-md-6 border col-md-offset-2">

<h2 class="col-md-offset">Formulaire n°123456</h2>



<div id="titre" class="row">

<p class="col-md-3">Titre : </p>

<p>Les raviolis vont-ils nous envahir?</p>

</div>



<div id="titrepan" class="row">

<p class="col-md-3">Panel : </p>

<p>Les personnes ayant un couteau Suisse</p>

</div>



<div id="titrecli" class="row">

<p class="col-md-3">Client : </p>

<p>Le gouvernement Nord Coréen</p>

</div>



<div id="boutonrep" class="row">

<div class="col-md-4"></div>

<input id="boutoncode" type="button" class="col-md-4 btn btn-info navbar-btn" value="Répondre"/>

</div>



</div>
</div>
  </body>

</html>
