

<div>
		<div id="infoQuest" class="col-md-10 border col-md-offset-1 top-100">

			<h2 class="col-md-offset-1 col-md-10 text-center">Formulaire n°123456</h2>

			<div  class="row">
				<label class="col-md-offset-1 col-md-2">Titre : </label>
				<p id="titre" class="col-md-8">Les raviolis vont-ils nous envahir?</p>
			</div>

			<div class="row">
				<label class="col-md-offset-1 col-md-2">Panel : </label>
				<p id="titrepan" class="col-md-8">Les personnes ayant un couteau Suisse</p>
			</div>

			<div class="row">
				<label class="col-md-offset-1 col-md-2">Client : </label>
				<p id="titrecli" class="col-md-8">Le gouvernement Nord Coréen</p>
			</div>

			<div id="boutonrep" class="row">
				<div class="col-md-4"></div>
				<input id="boutoncode" type="button" class="col-md-4 btn btn-info navbar-btn" value="Répondre"/>
			</div>

		</div>
</div>
