<!doctype html>
<html>
  <title>Rapid'Sond</title>
  <head>
	  
      <meta charset="UTF-8"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
      <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
      <script src="../js/todoConcepteur.js"></script>
      <script src="../js/todoSondeur.js"></script>
	  <link rel="stylesheet" href="../css/style.css"/>

  </head>
        <div id="main" class="col-md-12">
          <h2 class="col-md-12 text-center ">Formulaire n </h2>
          <p class="col-md-4 text-center">Cree le :</p>
          <p class="col-md-4 text-center">Par :</p>
          <form id="listeClient" class="col-md-4 text-center">Client :
                <select name="choixClient" size="1">
                  <option>
                </select>
          </form>
          <label class="col-md-3 col-md-offset-2"><input type="checkbox">Autoriser les sondages</label>
          <form id="listePanel" class="col-md-2 col-md-offset-5">Panel :
              <form>
                <select name="choixPanel" size="1">
                  <option>
                </select>
          </form>
          <button class="btn btn-primary col-md-12">Ajouter une question</button>
        </div>
</html>
