

<div>
		<div id="infoQuest" class="col-md-10 border col-md-offset-1 top-100">

			<h2 id="titreForm" class="col-md-offset-1 col-md-10 text-center"></h2>

			<div  class="row">
				<label class="col-md-offset-1 col-md-2">Titre : </label>
				<p id="titre" class="col-md-8"></p>
			</div>

			<div class="row">
				<label class="col-md-offset-1 col-md-2">Panel : </label>
				<p id="titrepan" class="col-md-8"></p>
			</div>

			<div class="row">
				<label class="col-md-offset-1 col-md-2">Client : </label>
				<p id="titrecli" class="col-md-8"></p>
			</div>

			<div id="boutonrep" class="row">
				<div class="col-md-4"></div>
				<input id="boutoncode" type="button" class="col-md-4 btn btn-info navbar-btn" value="Répondre" onclick="afficheReponseQuestionSonde()"/>
			</div>

		</div>
</div>
