<!doctype html>
<html>
<title>Rapid'Sond</title>
<head>

    <meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="../js/todoConcepteur.js"></script>
	<script src="../js/todoSondeur.js"></script>
	<link rel="stylesheet" href="../css/style.css"/>

</head>
		<title> Formulaire Filtre </title>
	</head>
	<body>

	<div id="filtreSondage" class="col-md-offset-1 col-md-10">

		<form id="formFiltre" class="col-md-12 form-horizontal border" method="GET" >

			<div class="row">

				<label id="labelEntreprise" for="listeEntreprise" class="col-md-2 top-10 text-center">Entreprise </label>
				<div class="col-md-2"><select id="listeEntreprise" name="listeEntreprise" class="col-md-10 top-10 text-center" /></select></div>

				<label id="labelStatut" for="listeStatut" class="col-md-2 top-10 text-center">Statut </label>
				<div class="col-md-2"><select id="listeStatut" name="listeStatut" class="col-md-10 top-10 text-center" /></select></div>

				<label id="labelConcepteur" for="listeConcepteur" class="col-md-2 top-10 text-center">Concepteur </label>
				<div class="col-md-2"> <select id="listeConcepteur" name="listeConcepteur" class="col-md-10 top-10 text-center" /></select></div>

			</div>

			<div class="row">

				<label id="labelPanel" for="listePanel" class="col-md-2 top-10 text-center">Panel</label>
				<div class="col-md-2"><select id="listePanel" name="listePanel" class="col-md-10 top-10 text-center" /></select></div>

				<label id="labelDateDebut" for="choixDateDebut" class="col-md-2 top-10 text-center">Date</label>

				<div class="col-md-3">

					<select id="choixDateDebut" name="choixDateDebut" class="col-md-4 top-10 text-center" /></select>

					<label id="labelDateFin" for="choixDateFin" class="col-md-4 text-center top-10"> à </label>
					<select id="choixDateFin" name="choixDateFin" class="col-md-4 top-10 text-center" /></select>

				</div>

				<input type="submit" value="Actualiser" class="btn btn-info top-10 col-md-offset-1 col-md-1 bot-10">

			</div>

		</form>

	</div>

	</body>
</html>
