<!doctype html>
<html>
  <title>Rapid'Sond</title>
  <head>

      <meta charset="UTF-8"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
      <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
      <script src="../js/todoConcepteur.js"></script>
      <script src="../js/todoSondeur.js"></script>
	  <link rel="stylesheet" href="../css/style.css"/>

  </head>
        <div id="main" class="col-md-12">
          <form name="questions">
            <fieldset>
              <legend id="legendeQuestion">Question 1: Bla</legend>
              <div class="row all-10 center-block">
				  <label id="question" for="question" class="col-md-1">Question:</label>
                  <input type="text" id="question" name="question" class="col-md-3" >
                <select name="ChoixTypeQ" id="choixTypeQuestion" class="col-md-offset-4 col-md-2" onchange="choisirTypeQuestion(this)">
          			<option value="choixM" selected="on">Choix multiple</option>
                    <option value="yesOrNo">Yes or No</option>
                    <option value="reponseLibre">Réponse Libre</option>
          			</select>
              </div>


              <div class="row all-10 center-block">

                <div class="col-md-4">
                  <div class="row">
                    <label id="r1">
                      <input type="checkbox" id="reponse1" value="reponse1" checked />
                      Réponse 1
                    </label>
                  </div>
                  <div class="row">
                    <label id="r2">
                      <input type="checkbox" id="reponse2" value="reponse2"/>
                      Réponse 2
                    </label>
                  </div>
                  <div class="row">
                    <label id="r3">
                      <input type="checkbox" id="reponse3" value="reponse3"/>
                      Réponse 3
                    </label>
                  </div>
                </div>

                  <input type="submit" value="Valider" id="boutonValider" class="col-md-offset-1 col-md-2 col-sm-push-3 right-5"/>
                  <input type="reset" value="Annuler" id="boutonAnnuler" class="col-md-2 col-sm-push-3 right-5"/>

              </div>

              <div class="row all-10 center-block">
              <input type="submit" value="Ajouter une réponse" id="boutonAjoutReponse"/>
            </div>

            </fieldset>
          </form>
        </div>
</html>
