

<div>
  <div id="formulaire_Info_Sondage" class="col-md-offset-1 col-md-10 border bot-10">
				<div class="row">
					<h1 id="titreSondage" class="col-md-offset-3 col-md-6 text-center">Sondage n° 112184321</h1>
				</div>

				<div class="row">

					<form class="row " method="GET" action="">

					<div class="row top-10">
						<label id="labelEntrepriseAff" class="col-md-offset-1 col-md-1 text-center">Entreprise :</label>
						<label id="listeEntrepriseAff" class="col-md-1 text-center"></label>

						<label id="labelStatutAff" class="col-md-1 text-center">Statut :</label>
						<label id="listeStatutAff" class="col-md-1 text-center"></label>

						<label id="labelUserAff" class="col-md-1 text-center">Par :</label>
						<label id="listeUserAff" class="col-md-1 text-center"></label>

						<button type="button" class="btn btn-primary col-md-offset-2 col-md-2" onclick="modifSondageDonnees(1)">Edit</button>
					</div>

					<div class="row top-10">

						<label id="labelPanelAff"  class="col-md-offset-1 col-md-1 text-center">Panel :</label>
						<label id="listePanelAff"  class="col-md-1 text-center"></label>

						<label id="labelDateAff" class="col-md-1 text-center">Crée le :</label>
						<label id="listeDateAff" class="col-md-1 text-center"></label>

						<button type="button" class="btn btn-danger col-md-offset-4 col-md-2 bot-10">Suppr</button>

					</div>


					</form>
				</div>
      </div>
</div>
