

<div>

<div  id="repquest" class"text-center">
	<h2 id ="titrequestdet"></h2>
	<input id="boutoncode2" type="button" class=" btn btn-info" value="Refresh" onclick ="exec()"/>
</div>

<div class ="row">
	<div id="champcreateur" class="col-md-4 ">
			<label>Par : </label>
			<span id="createur"></span>

	</div>
	<div id="champclient" class="col-md-4 ">
		<label>Client : </label>
			<span id="titrecli"></span>
	</div>
	<div id="champsonde" class="col-md-4 ">
		<label>Sondé : </label>
			<span id="sonde"></span>
	</div>

</div>
<br/>
	<div id ="listeQuestions" class="row">	</div>
		<div id="boutons" class="col-md-offset-4">
			<input id="boutoncode" type="button" class="col-md-offset-1 btn btn-danger  top-100" value="Annuler" onclick="annulationQuestion()"/>
			<input id="boutoncode1" type="button" class="col-md-offset-2 btn btn-success  top-100" value="Valider" onclick ="repondre()"/>
		</div>
</div>
