

<div>
<div id="repquest" class="col-md-offset-4 col-md-8">
	<h2>Formulaire n°123456</h2>
</div>

<div id="formrech" class="col-md-offset-1 row">
	<div id="date" class="col-md-3">
		<p>Crée le :
		<input value="21/07/2016"/>
		</p>
	</div>
	<div id="createur" class="col-md-3">
		<p>Par :
		<select>
			<option value="1">Marcel</option>
		</select>
		</p>
	</div>
	<div id="client" class="col-md-3">
		<p>Client :
		<select>
			<option value="1">Buitoni</option>
		</select>
		</p>
	</div>
	<div id="client" class="col-md-3">
		<p>Sondé :
		<select>
			<option value="1">Dupont</option>
		</select>
		</p>
	</div>
</div>

<div id="quest1" class="border">
	<h2>Question 1 : Bla</h2>
	<p class="col-md-offset-1">Quelle est la réponse à la question ?</p>
	<label class="col-md-offset-1">
		<input type="checkbox" id="cbox1" value="checkbox1"> réponse 1<br/>
		<input type="checkbox" id="cbox2" value="checkbox2"> réponse 2<br/>
		<input type="checkbox" id="cbox3" value="checkbox3"> réponse 3<br/>
	</label>
</div>

<br/>

<div id="quest2" class="border">
	<h2>Question 2 : Blabla </h2>
	<p class="col-md-offset-1">Quelle est la réponse à celle-ci ?</p>
	<input class="col-md-offset-1" value=" "/>
</div>

<br/>

<div id="boutons" class="col-md-offset-4">
	<input id="boutoncode" type="button" class="btn btn-danger" value="Annuler"/>
	<input id="boutoncode" type="button" class="col-md-offset-2 btn btn-success" value="Valider"/>
</div>
</div>
