

<div>

<div id="repquest" class="col-md-offset-4 col-md-8 row">
	<h2 id ="titrequestdet">Formulaire n°123456</h2>
</div>

<div class ="row">
	<div id="champcreateur" class="col-md-4 row">
			<label>Par : </label>
			<span id="createur">Marcel</span>

	</div>
	<div id="champclient" class="col-md-4 row">
		<label>Client : </label>
			<span id="titrecli">Buitoni</span>
	</div>
	<div id="champsonde" class="col-md-4 row">
		<label>Sondé : </label>
			<span id="sonde">Dupont</span>
	</div>

</div>
<br/>
	<div id ="listeQuestions" class="row">	</div>
		<div id="boutons" class="col-md-offset-4">
			<input id="boutoncode" type="button" class="col-md-offset-1 btn btn-danger  top-100" value="Annuler" onclick="annulationQuestion()"/>
			<input id="boutoncode" type="button" class="col-md-offset-2 btn btn-success  top-100" value="Valider"/>
		</div>
</div>
